*{
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Open Sans', sans-serif;
  background: #fc0 url(../images/bee.png) -73px -58px fixed no-repeat
}

.container{
  background-color: rgba(255,255,255,.7);
  margin: 0 10% 5% 10%;
}

.ui.huge.message {
  background-color: rgba(255,255,255,.1);
}

.ui.segment {
    background-color: rgba(255,255,255,0.7);
}

.hidden{
  opacity: 0;
}

.ui .button{
  text-transform: capitalize;
}

.copy {
    padding: 10px 20px;
}

.bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url(../images/bg.png);
    width: 713px;
    height: 550px;
}
