<p>Tech Events North West is a group of all the tech event organisers in and around the North West. Events are all grass-roots, community focused. Behind the scenes we work together to support each other, improve our events for the good of the community, and try to cross-pollinate (that bee theme!).</p>
<p>A side effect of us getting together is a shared google calendar and event directory. We all work hard to keep the information of our own events  up to date.</p>
<p>Please get in touch if you want to join us!</p>
<p>This group was put together by <a href='http://twitter.com/ruby_gem'>@ruby_gem</a></p>
