<p>Tech Community North West is a group of all the tech event organisers in and around the North West.</p>
<p>We all work hard to keep the information on the calendar and in the directories up to date. Please get in touch if you want to join us!</p>
<p>This group was put together by <a href='http://twitter.com/ruby_gem'>@ruby_gem</a></p>
