<h2></h2>
<table class="ui pink striped tablet stackable table">
  <thead>
  </thead>
  <tbody>
      <tr>
        <td>Yorkshire</td>
        <td><a href='http://twitter.com/techyorks' target='_new'><i class="blue twitter icon"></i>@techyorks</a></td>
        <td><a href="http://techyorks.uk"><i class="world icon"></i>techyorks.uk</a></td>
      </tr>
      <tr>
        <td>North East</td>
        <td><a href='http://twitter.com/TechDiaryNE' target='_new'><i class="blue twitter icon"></i>@techdiaryne</a></td>
        <td><a href="https://www.techdiary.co.uk/"><i class="world icon"></i>techdiary.co.uk</a></td>
      </tr>
  </tbody>
</table>