<h2>Other areas</h2>
<table class="ui pink striped tablet stackable table">
  <thead>
  </thead>
  <tbody>
      <tr>
        <td>Liverpool (yes we know it's NW)</td>
        <td></td>
        <td><a href="http://doesliverpool.com/calendar/"><i class="world icon"></i>doesliverpool.com/calendar</a></td>
      </tr>
      <tr>
        <td>Yorkshire</td>
        <td><a href='http://twitter.com/YorksDigital' target='_new'><i class="blue twitter icon"></i>@YorksDigital </a></td>
        <td><a href="http://www.yorkshiredigital.com/"><i class="world icon"></i>yorkshiredigital.comk</a></td>
      </tr>
      <tr>
        <td>North East</td>
        <td><a href='http://twitter.com/TechDiaryNE' target='_new'><i class="blue twitter icon"></i>@techdiaryne</a></td>
        <td><a href="https://www.techdiary.co.uk/"><i class="world icon"></i>techdiary.co.uk</a></td>
      </tr>
      <tr>
        <td>Nottingham</td>
        <td></td>
        <td><a href="nottingham.digital"><i class="world icon"></i>nottingham.digital</a></td>
      </tr>
  </tbody>
</table>
