<h2 class="ui header">
  <i class="red warning circle icon"></i>
  <div class="content">
    Bugger
  </div>
</h2>


<div class="content">
    <p>I tell thee summat fer nowt, site's not in fair fettle</p>
</div>
