<table class="ui pink striped table">
  <thead>
  </thead>
  <tbody>
    <%events.each do |event|%>
      <tr>
        <td><%=event["name"] || "&nbsp;"%></td>
        <td><%unless event["website"].nil? %><a href='<%=event["website"]%>' target='_new'><i class="world icon"></a><%end%></td>
        <td><%unless event["twitter"].nil? %><a href='http://twitter.com/<%=event["twitter"]%>' target='_new'><i class="blue twitter icon"></a><%end%></td>
        <td><%=event["description"] || "&nbsp;"%></td>
      </tr>
    <%end%>
  </tbody>
</table>