<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Tech Community - North West</title>
      <meta name="description" content="Tech Events in the Northwest. A collection of groups, conferences and a calendar. Manchester, Preston.">
      <meta name=viewport content="width=device-width, initial-scale=1">
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.2/semantic.min.css">
      <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.2/semantic.min.js"></script>

      <!-- build:css styles/main.css -->
      <link rel="stylesheet" href="css/main.css">
      <!-- endbuild -->
  </head>
  <body>
    <div class='main'>
      <div class="ui huge message margin-reset">
          <h1 class="ui huge header">North West Tech Community</h1>
          <p>There's hot stuff going on in your area!</p>
      </div>
      <div class="ui menu margin-reset">
        <a class="item" href="about">
          <i class="rocket icon"></i> About
        </a>
        <a class="item" href="calendar">
          <i class="calendar icon"></i> Calendar
        </a>
        <a class="item" href="groups">
          <i class="users icon"></i> Groups
        </a>
        <a class="item" href="conferences">
          <i class="student icon"></i> Conferences
        </a>
      </div>
      <div class="ui segment">
        <%=yield%>
      </div>
      <div class="ui divider"></div>  
      <span>&copy; technw.uk 2015</span>
    </div>
  </body>
</html>