<h1>6 months on...</h1>

<p>Six months ago the tech community in Manchester, and beyond, came together to sign their names to a call for Greater Manchester Mayor Andy Burnham to make our city a “place of choice for women and girls to live, work, study and care”.</p>

<p>This is a reflection on what the letter catalysed, is a thank you to everyone for their support and offers an update. </p>

<p>For context, the text of the original letter can be read below. This letter has helped in a big way, to catalyse positive developments at policy level:</p>
<ul>
<li>Andy Burnham confirmed his commitment to the issues outlined in the letter and many that signed, plus others, met with him on the 25 April 2018 to share some proposed actions.</li> 

<li>In the meeting on 25 April, the group was given a clear steer from the mayor to bring to the table a small number of actionable proposals for him to support. </li>
 
<li>As part of the GMCA Digital Action Plan, there is an ambitious measure to see the male-to-female employment ratio change from 79:21 to 60:40 by 2020. And then 50:50 by 2025. </li>

<li>Manchester will host the first Diversity &amp; Inclusion Conference in the North West later this year.</li>
</ul>

<p>These are challenging, but positive and ambitious developments, and require clear, actionable responses. The letter has done a great deal to move the conversation about diversity forward at a political level in the city and for that reason it should not be forgotten and written out of history.</p>
 
<p>What we have seen is a great step forward, and one which has we hope will see Greater Manchester leading the way to support a diverse and inclusive tech workforce. As a result, people across Greater Manchester will be able to celebrate the consequent economic and societal benefits of a better, more inclusive tech sector.</p>

<p>There is more work to be done here, both in shaping the strategy, and helping to pull together the plan and resources necessary to design and deliver to these targets. </p>

<p>The letter was in a larger part catapulted into existence because of UKFast and TechManchester's £50,000 fund to support diversity in the wake of a public push back at the Digital Entrepreneurs Awards.</p>

<p>We are pleased to learn that some of the signatories have since been asked to help UKFast’s TechManchester distribute the £50,000 fund made available to diversity and inclusion after the event hit the <a href="https://www.manchestereveningnews.co.uk/news/greater-manchester-news/sexist-awards-ceremony-apology-manchester-13959561">headlines</a> and we hope these advocates will help steer in an inclusive way as the Tech Manchester initiative grows.</p>

<p>As individuals, there is a strong commitment to support and promote diversity and inclusion, and the empowerment of females and underrepresented groups in digital, tech and business, and we will continue to call out behaviour and practices that undermine these efforts, and encourage others to do the same. </p>

<p>The number of females employed in the sector, and in tech roles, is diminishing. For good products, good business, the economy, society, and of course for our daughters and sisters, this is a trend that must be reversed. </p>

<p>A fantastic reflection of the strength of feeling and energy the wider community has about this issue is demonstrated through the Inclusion Coalition. Established to provide a collective  oice on these issues, and to collect and share examples of good practice and initiatives that promote diversity and inclusion in Greater Manchester’s digital sector.</p>

<p>If you have a great programme or issue to share, or would like to get involved in the GMCA’s work to make the change in this great - and growing - challenge, please get in touch.</p>

<h1>The letter</h1>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vRH_1dRTM8z_o7hPCI6ktG0Fh3dHN7jx6HN1tCdiwpQPwCRBs3PYLzLOz0eUQdxyFxqiwBP2-1IYWf2/pub?embedded=true" width=100% height=100%></iframe>

