<h1>A collective response to UKFast diversity funding pot offer</h1>
<p>By we, the undersigned</p>

<iframe src="https://docs.google.com/document/d/e/2PACX-1vRH_1dRTM8z_o7hPCI6ktG0Fh3dHN7jx6HN1tCdiwpQPwCRBs3PYLzLOz0eUQdxyFxqiwBP2-1IYWf2/pub?embedded=true" width=100% height=100%></iframe>

