<h2 class="ui header">
	<i class="warning circle icon"></i>
	<div class="content">
	  Error
	  <div class="sub header">500</div>
	</div>
</h2>


<div class="content">
	<div class="ui segment">
		<p>Something went terribly wrong. We do apologise.</p>
		<p>The developers have been informed and are looking at this right now</p>
	</div>
</div>
