<h2 class="ui header">
	<i class="yellow help circle icon"></i>
	<div class="content">
	  Wot you skennin' at? Nowt there
	</div>
</h2>


<div class="content">
	<p>Sorry love, we can't find that page! Did you make it up by any chance?</p>
</div>
