<h2><i class="slack icon"></i>Slack Groups</h2>


<div class="ui cards">
  <div class="card">
    <a class="image">
      <img src="https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/49695/335617/ufI3IUEuNupntbL/mcrslack.png">
    </a>
    <div class="content">
      <a class="header">Attendees</a>
      <div class="description">
        Open to all to join! You don't even have to attend one of the events. Come along and say hi! Network without leaving your chair!
        <div class="ui divider"></div>
        <a href="http://mcrtech-slack.herokuapp.com/"><i class="world icon"></i>http://mcrtech-slack.herokuapp.com/</a>
      </div>
    </div>
  </div>
  
  <div class="card">
    <a class="image">
      <img src="https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/49695/335617/otIzIFz31DpAllT/mcrorganisersslack.png">
    </a>
    <div class="content">
      <a class="header">Organisers</a>
      <div class="description">
        Do you organise a tech event in the North West? Ask <a href='twitter.com/ruby_gem'><i class='blue twitter icon'></i>@ruby_gem</a> for an invite.
        <div class="ui divider"></div>
        <a href="https://techeventsnw.slack.com"><i class="world icon"></i>https://techeventsnw.slack.com</a>
      </div>
    </div>
  </div>
</div>